body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 20px;
}

#result {
    border: 1px solid #ccc;
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
