body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 20px;
}

#result {
    border: 1px solid #ccc;
    padding: 20px;
}

.result-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}